<!DOCTYPE html>
<html>
  <head>
    <title>GroupExpenses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p><%= alert %></p>
    <% end %>
    <% if current_user %>
      <%= link_to "LOGOUT", sessions_path, method: 'delete' %>
    <% end %>
    <%= yield %>
  </body>
</html>
